body{
  background-color:lightblue;
  background-image: url(rumput.jpg);
  background-repeat:repeat-x;
  background-position: bottom center;
}
body{
  font-family:arial;
}
h1,h2{
  color:green;
}
ul li a{
  color:orange;
}
ol li a{
  color:red;
}
#p1{
  color:yellow;
}
p2{
  color:red;
}
hello:link{
  colo:orange;
}
hello:hover{
  color:green;
  font-family:arial;
  font-size:20px;
}
hello:actice{
  font-style:italic;
}
}